
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;  
  margin: 20px auto; 
  padding: 15px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
}


input[type="text"], button {
  width: 100%;         
  padding: 10px;
  margin: 8px 0;       
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.repo-details {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #f9f9f9;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.repo-details h3 a {
  color: #0366d6;
  text-decoration: none;
}

.repo-details h3 a:hover {
  text-decoration: underline;
}


.filter-controls,
.search-bar {
  width: 100%;
}
